USE [master]
GO
/****** Object:  Database [Task11]    Script Date: 28.05.2016 0:05:47 ******/
CREATE DATABASE [Task11]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Users', FILENAME = N'C:\Users\ййй\Users.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Users_log', FILENAME = N'C:\Users\ййй\Users_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Task11].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Task11]
GO
/****** Object:  Table [dbo].[AuthUsers]    Script Date: 28.05.2016 0:05:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_AuthUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Awards]    Script Date: 28.05.2016 0:05:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Awards](
	[Guid] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[AwardFotoPath] [nvarchar](100) NULL,
	[Content] [varbinary](max) NULL,
 CONSTRAINT [PK_Awards_1] PRIMARY KEY CLUSTERED 
(
	[Guid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserImage]    Script Date: 28.05.2016 0:05:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserImage](
	[Image_Id] [int] IDENTITY(1,1) NOT NULL,
	[Guid] [nvarchar](50) NOT NULL,
	[Content] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_UserImage] PRIMARY KEY CLUSTERED 
(
	[Image_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UsersInNote]    Script Date: 28.05.2016 0:05:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersInNote](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Guid] [nvarchar](50) NOT NULL,
	[File_path] [nvarchar](100) NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Birthday] [date] NOT NULL,
	[Award_Id] [nvarchar](50) NULL,
 CONSTRAINT [PK_UsersInNote] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[AuthUsers] ON 

INSERT [dbo].[AuthUsers] ([Id], [Name], [Role]) VALUES (1, N'admin', N'user:admin')
INSERT [dbo].[AuthUsers] ([Id], [Name], [Role]) VALUES (2, N'user1', N'user')
SET IDENTITY_INSERT [dbo].[AuthUsers] OFF
SET IDENTITY_INSERT [dbo].[UserImage] ON 

SET IDENTITY_INSERT [dbo].[UserImage] OFF
SET IDENTITY_INSERT [dbo].[UsersInNote] ON 

INSERT [dbo].[UsersInNote] ([Id], [Guid], [File_path], [Name], [Birthday], [Award_Id]) VALUES (3008, N'90BC5405-55E1-4F32-8156-54D260CC8F5A', N'KOShEChKA_KOTYa_3_goda_v_dobrye_ruki.jpg#image/jpeg', N'Вася Васьков', CAST(N'2000-02-01' AS Date), NULL)
INSERT [dbo].[UsersInNote] ([Id], [Guid], [File_path], [Name], [Birthday], [Award_Id]) VALUES (3010, N'4E1C2975-CD08-4317-995A-FAC4529495FD', N'14473569383919f1b2a5a1.jpg#image/jpeg', N'Белфорт', CAST(N'1988-05-02' AS Date), NULL)
INSERT [dbo].[UsersInNote] ([Id], [Guid], [File_path], [Name], [Birthday], [Award_Id]) VALUES (3011, N'90BC5405-55E1-4F32-8156-54D260CC8F5A', N'KOShEChKA_KOTYa_3_goda_v_dobrye_ruki.jpg#image/jpeg', N'Вася Васьков', CAST(N'2000-02-01' AS Date), N'263E1077-9A89-4E9C-8BB0-56F5E6D0543F')
SET IDENTITY_INSERT [dbo].[UsersInNote] OFF
ALTER TABLE [dbo].[UsersInNote]  WITH CHECK ADD  CONSTRAINT [FK_UsersInNote_Awards] FOREIGN KEY([Award_Id])
REFERENCES [dbo].[Awards] ([Guid])
GO
ALTER TABLE [dbo].[UsersInNote] CHECK CONSTRAINT [FK_UsersInNote_Awards]
GO
USE [master]
GO
